body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

@font-face {
    font-family: "Norse Bold";
    src: url(Norse-Bold.otf);
}

.main {
    min-height: 100vh;
    display: flex;
}

.left-bar {
    background-image: url(halie-west-25xggax4bSA-unsplash.jpg);
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    text-align: center;
}

a {
    color: white;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5.5rem;
    font-family: "Norse Bold";
    margin-top: 20vh;
    padding: 10px 80px 10px 80px;
    background-color: rgb(0, 0, 0, 0.4);
}

.banner img {
    height: 150px;
}

.attribution {
    font-size: 0.9rem;
}

.right {
    display: flex;
    flex-direction: column;
    background-color: #f9fafb;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
}

.header {
    padding: 2rem;
}

.header p {
    font-size: 1.5rem;
    font-weight: bold;
    ;
}

.input-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    padding: 1.2rem 2vw 3rem 2vw;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.123);
}

form {
    display: flex;
    width: 60vw;
    flex-flow: row wrap;
    gap: 1rem;
    font-size: 1rem;
}

label {
    position: relative;
    width: 15rem;
    margin-bottom: 15px;
}

input {
    font-family: customFontBold;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgb(224, 224, 224);
    font-size: .9rem;
    margin-top: 3px;
}

#create-account {
    margin-left: var(--left-space);
    margin-top: 32px;
    border: none;
    background-color: #596D48;
    padding: 12px 48px;
    border-radius: 8px;
    box-shadow: 1px 4px 4px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
}

.login a {
    color: #596D48;
    font-weight: bold;
    text-decoration: none;
}